{% extends 'base.html' %}
{% load static %}

{% block customcss %}

{% endblock customcss %}
いい

{% block header %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.js"></script> -->
<script type="text/javascript" src="ajax.js?ver=1.0"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
{% endblock %}



{% block content %}

<div id="global-nav">
  
  <div class="list-group-flush m-0 p-0  col-2">
    <h1 class="m-0 p-0">物品管理システム</h1>
    <a href="{% url 'list2' %}" class="list-group-item list-group-item-action active pl-5">物品検索</a>
    <a href="{% url 'list2' %}" class="list-group-item list-group-item-action pl-5">物品一覧</a>
    <a href="{% url 'list2' %}" class="list-group-item list-group-item-action pl-5">物品一覧</a>
    <a href="{% url 'list2' %}" class="list-group-item list-group-item-action pl-5">タグ登録</a>
  </div>
</div>

<div >
  <nav class="navbar fixed-top col-10 offset-2">
    <button class="btn ml-auto btn-sm" type="submit">ログアウト</button>
  </nav>
</div>


<div class="col-10.5 offset-2">
  <div class="card mt-5 ">
    <div class="card-header bg-info p-2">
      フィルタリング
    </div>
    <div class="card-body p-1">
      <form action="" method="post" class="form-row">{% csrf_token %}
        <div class="form-group col-3 offset-1">
         <label for="label1">対象</label>
         <select class="form-control parent"  name="label" id="label1">
         <option value="">選択して下さい</option>
         {% for k,v in x %}
         <option value="{{v}}">{{v}}</option>
         {% endfor %}
         </select>
        </div>
        <div class="form-group col-3">
          <label for="label2">物品</label>
          <select class="form-control children"  name="article" id="label2">
          <option value="">選択して下さい</option>
          {% for item1,item2 in title %}
          <option value="{{item1}}" data-val="{{item2}}">{{item1}}</option>
          {% endfor %}
          </select>
         </div>
         <div>
        <button type="submit" class="btn btn-primary" style="margin-top: 30px;">検索</button>
      </div>
    </form>
    </div>
  </div>

  <!-- {{ qs_json }} -->

  <div class="row">
  <div class="card ml-2 mt-3 col-7 p-0">
    <div class="card-header bg-secondary m-0">
      データ
    </div>
    <div class="card-body bg-light ">
      <table class="table table-striped table-hover table-active table-sm ">
        <tr>
          <th>物品</th>
          <th>x</th>
          <th>y</th>
        </tr>
        {% for object in model_list %}
        <tr class='chara'>
          <td>{{ object.title }}</td>
          <td>{{ object.x }}</td>
          <td>{{ object.y }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
    <div class="card ml-2 mt-3 col-4 p-0">
      <div class="card-header bg-secondary m-0">
        詳細
      </div>
      <div class="card-body bg-light ">
    
        <div class="popup">
          <!-- <div class="col-3"> -->
          あいうえお
          <button id="close1">閉じる</button>
        </div>
          {% for object in model_list %}
          
          {% endfor %}
   
      </div>

  </div>
</div>

</div>

<script>
$(function(){
  $('tr[data-href]', 'table.table-clickable').on('click', function(){
    location.href = $(this).data('href');
  });
});

</script>


<!-- <div class="header"></div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li>物品管理システム</li>
      <li><a href="{% url 'list2' %}">物品検索</a></li>
      <li><a href="{% url 'list2' %}">物品一覧</a></li>
      <li><a href="{% url 'list2' %}">物品予約</a></li>
      <li><a href="{% url 'list2' %}">タグ登録</a></li>
    </ul>
  </div>
  <div id='center' class="main center">
    
    
  </div> -->

<style>
tbody {
      display: block;
    }
    tbody {
      overflow-x: hidden;
      overflow-y: scroll;
      height: 500px;
    }
    th, td {
      width: 200px; min-width: 200px;
    }
</style>

<style>
body {
  /* background-color: rgb(238, 235, 235); */
}
.list-group-flush {
z-index: 500;
position: fixed;
top: 0;
bottom: 0;
left: 0;
background-color: #dddddd;
border-color: #dddddd;
border: 0.0rem;
font-size: large;
box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.list-group-flush .list-group-item{
background-color: #dddddd;
border-color: #dddddd;
border: 0.0rem;
font-size: 1.2rem;
}
.list-group-flush .list-group-item:active{
background-color: #00aaff !important;
border-color: #dddddd;
color:black;
border: 0.0rem;
font-size: 1.2rem;
}
.list-group-flush .list-group-item:hover{
background-color: #d0d0d0;
color: #0066B4;
}
.list-group-item.active {
z-index: 2;
color: rgb(22, 27, 36);
background-color: #10418b;
border-color: #007bff;
}
#global-nav h1{
font-size: 1.5rem;
font-weight: bold;
text-align: center;
white-space:nowrap;
line-height: 3.5rem;
height: 3.5rem;
background-color: #666666;
color: white;
}
.navbar{
height: 3.5rem;
background-color: #666666;

}

</style>

<!-- <style>
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color:rgb(73, 73, 73);
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background:rgb(73, 73, 73);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
</style> -->






<style>

.btn{
background-color:ghostwhite;

}
.btn:hover{
  background-color:grey;

}
</style>


<!-- <style>
.popup {
    display: none;
    height: 100vh;
    width: 100%;
    background: black;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
}
 
.content{
    background: #fff;
    padding: 30px;
    width: 50%;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
}

</style> -->


<script>
$('.popup').hide();

var the_json = JSON.parse('{{qs_json|escapejs}}');

$('.chara').on('click', function(){
            var nameVal = $(this).children('td')[0].innerText;
            // alert(' name: '+ nameVal);
            $('.popup').show();
            for(let i in the_json) {
            //  console.log(the_json[i]);
             if(the_json[i].title==nameVal){
              $('.popup').html('<p>物品名:'+the_json[i].title+'</p>'+
                '<p>id:'+the_json[i].id+'</p>'+
               '<p>最終検知時刻:'+the_json[i].duedate+'</p>'+
               '<p>予定:A社 7F</p>'+
               '<p>実績:A社 6F</p>'
               );
             }
            // $('.popup').text(the_json[1].id);
            }
            

            });
  
$('#close1').on('click',function(){
    $('.popup').hide();
});

</script>

<script>
{% autoescape off %}
var label = "{{ label }}"
var article = "{{ article }}"
{% endautoescape %}
$('[name=label]').val(label);
$('[name=article]').val(article);
// $('[name=Label]').change(function() {
//     var val1 = $('[name=label]').val();
//     sessionStorage.setItem('kye1',val1);
// });

// $('[name=article]').change(function() {
//     var val2 = $('[name=article]').val();
//     sessionStorage.setItem('kye2',val2);
// });
var $children = $('.children');
var original = $children.html();

$('.parent').change(function() {

  var val1 = $(this).val();

  $children.html(original).find('option').each(function() {
    var val2 = $(this).data('val');
    
    if (val1 != val2 && val1 != "")  {
      $(this).not(':first-child').remove();
    }
  });
});


</script>




{% endblock content %}

